<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">회원정보 조회</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
</head>
<body>
	<h1 th:text="${title}"></h1>
	<table th:object="${memberInfo}">
		<thead>
			<tr>
				<th>회원아이디</th>
				<th>회원비밀번호</th>
				<th>회원등급</th>
				<th>회원이름</th>
				<th>회원연락처</th>
			</tr>
		</thead>
		<tbody th:with="target=*{memberId}">
			<tr th:unless="${memberList != null}">
				<td colspan="5">등록된 회원의 정보가 없습니다.</td>
			</tr>
			<th:block th:if="${memberList != null}" th:each="l : ${memberList}">
				<tr th:style="${(l.memberId == target) ? 'color:red' : ''}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberLevel}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberMobile}"></td>
				<tr>
			</th:block>
		</tbody>
	</table>

</body>
</html>












