<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>실습</title>
<link rel="stylesheet" type="text/css" href="/css/table.css">
</head>
<body>
	<h1>실습문제</h1>
	- 1: table.css 외부스타일로 적용 <br>
	- 2: http://localhost/exam/exam4 -> exam4.html 동적인페이지 노출 <br>
	- 3: memberList 객체를 통해 table 생성 <br>
	- 4: memberList 객체x '등록된 회원의 정보가 없습니다.' 행이 노출 <br>
	- 5: target 변수를 선언하고 id003를 할당 <br>
	  5-1 : service 계층 getMemberInfoById("id003")<br>
	      : memberId="id003",memberPw="pw003",memberLevel="구매자",memberName="홍03",memberMobile="010-3333-3333"<br>
	  5-2 : th:object 활용해서 target변수에 memberId를 할당<br>
	- 6: 회원의 목록중 id003에 일치하는 행 전체를 빨간색 폰트로 화면 노출 <br>
	<br>
	
	
	
	
	
	
	
	<table th:object="${memberInfo}">
		<thead>
			<tr>
				<th>회원아이디</th>
				<th>회원비밀번호</th>
				<th>회원등급</th>
				<th>회원이름</th>
				<th>회원연락처</th>
			</tr>
		</thead>
		<tbody th:with="target=*{memberId}">
			<tr th:unless="${memberList != null}">
				<td colspan="5">등록된 회원의 정보가 없습니다.</td>
			</tr>
			<th:block th:if="${memberList != null}" th:each="l : ${memberList}">
				<tr th:style="${(l.memberId == target) ? 'color:red' : ''}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberLevel}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberMobile}"></td>
				<tr>
			</th:block>
		</tbody>
	</table>
	
	

</body>
</html>












