<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}">thymeleaf 조건문</title>
	<style>
		table{
			border: 1px solid black;
			width : 700px;
			table-layout : auto;
			text-align : center;
		}
		th{
			border: 1px solid black;
			background-color : cornflowerblue;
			color: azure;
			height : 30px;
		}
		td{
			border: 1px solid black;
			height : 30px;
		}
	</style>
</head>
<body>
	<h1>thymeleaf 조건문</h1>
	- 태그 속성 th:if, th:unless, th:switch<br>
	- th:if -> 조건식이 true일 때 화면에 보이는 조건문<br>
	- th:unless -> 조건식이 false일 때 화면에 보이는 조건문<br>
	- th:switch -> 값에 일치하는 요소만 화면에 보이는 조건문 <br>
	- 유효범위 : 선언한 태그가 닫힐때까지<br>
	
	<h2 th:if="${memberInfo.memberId == 'id002'}">true일 경우 화면 출력(if)</h2>
	<h2 th:unless="${memberInfo.memberId == 'id002'}">false일 경우 화면 출력(else)</h2>
	<div th:switch="${memberInfo.memberName}">
		<h2 th:case="${'홍02'}">값과 일치된 요소만 화면 출력</h2>
		<h2 th:case="'홍01'">값과 일치된 요소만 화면 출력</h2>
		<h2 th:case="*">값과 일치된 요소만 화면 출력(default 구문)</h2>
	</div>
	
	<h1>thymeleaf 지역변수 선언</h1>
	- th:with="변수명=${'값'}"<br>
	- th:with 선언한 요소가 존재한다면 변수의 유효범위 태그 닫힐때 까지<br>
	
	<h1>thymeleaf 블록요소</h1>
	- th:block : thymeleaf에서 블록구문을 만들때 사용<br>
	- 화면에 렌더링되는 대상이 아니다. 프로그램언어 { }<br>
	
	<th:block th:with="checkPw=${'pw001'}, memberPw=${memberInfo.memberPw}">
		<h2 th:if="${checkPw == memberPw}" th:text="${memberInfo.memberName}">일치하면 회원이름 출력</h2>
		<h2 th:unless="${checkPw == memberPw}" th:text="${memberInfo.memberMobile}">일치하지 않으면 회원연락처 출력</h2>	
	</th:block>
	<h2 th:if="${checkPw == ''}" th:text="${checkPw}">값을 참조할 수 없으므로 렌더링 x</h2>
	
	<!-- 실습 -->
	<table>
		<thead>
			<tr>
				<th>회원아이디</th>
				<th>회원비밀번호</th>
				<th>회원등급</th>
				<th>회원이름</th>
				<th>회원연락처</th>
			</tr>
		</thead>
		<tbody th:with="targetId=${memberInfo.memberId}, targetName=${memberInfo.memberName}">
			<th:block th:if="${memberList != null}" th:each="l : ${memberList}">
				<tr>
					<td th:if="${targetId == l.memberId}" th:text="${l.memberId}" th:style="${'color : red'}"></td>
					<td th:unless="${targetId == l.memberId}" th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<th:block th:switch="${l.memberLevel}">						
						<td th:case="${'관리자'}" th:text="${l.memberLevel}" style="color : green"></td>
						<td th:case="'판매자'" th:text="${l.memberLevel}" style="color : blue"></td>
						<td th:case="*" th:text="${l.memberLevel}" style="color : hotpink"></td>
					</th:block>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberMobile}"></td>
				</tr>
			</th:block>
			<tr th:unless="${memberList != null}">
				<td colspan="5">등록된 회원의 정보가 없습니다.</td>
			</tr>
		</tbody>
	</table>
	
	<h1>thymeleaf 객체바인딩</h1>
	- th:object 구문 <br>
	- 예시: th:object="${객체}" <br>
	- 선언한 태그 자식 노드에서는 th:text="*{객체 속성명}" *로 참조가능 <br>
	<br>
	<table>
		<tbody th:object="${memberInfo}">
			<tr>
				<td>회원아이디</td>
				<td>
					<input type="text" name="memberId" th:value="*{memberId}" />
				</td>
			</tr>
			<tr>
				<td>회원비밀번호</td>
				<td>
					<input type="text" name="memberPw" th:value="*{memberPw}" />
				</td>
			</tr>
			<tr>
				<td>회원등급</td>
				<td>
					<input type="text" name="memberLevel" th:value="*{memberLevel}" />
				</td>
			</tr>
			<tr>
				<td>회원이름</td>
				<td>
					<input type="text" name="memberName" th:value="*{memberName}" />
				</td>
			</tr>
			<tr>
				<td>회원연락처</td>
				<td>
					<input type="text" name="memberMobile" th:value="${memberInfo.memberMobile}" />
				</td>
			</tr>
		</tbody>	
	</table>	
</body>
</html>























