<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">thymeleaf 유틸리티 오브젝트</title>
</head>
<body>
	<h1>thymeleaf 유틸리티 오브젝트</h1>
		- java.util 패키지 내 유틸리티 클래스를 thymeleaf 가공해서 제공하는 클래스<br>
		- 구문 ${#thymeleaf유틸클래스.메소드()}
		
	<span th:text="${#locale.country}">US</span>
	
	<h2 th:text="${now}"></h2>
	<h2 th:text="${#dates.createToday()}">date thymeleaf 유틸리티 객체</h2>
	<h2 th:text="${#dates.format(now, 'yyyy-MM-dd HH:mm:ss')}"></h2>
	
	<!--  천자리 구분기호 -->
	<h2 th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">천자리 구분기호</h2>
	<!--  JAVASCRIPT ``  -> Thymeleaf || -->
	<h2 th:text="|\${#numbers.formatInteger(price, 3, 'COMMA')}원|">원화 표시</h2>
	
	<!-- List 객체 유틸리티   -->
	<h2 th:text="${#lists.isEmpty(memberList)}">[]</h2>
	<h2 th:text="${#lists.size(memberList)}">리스트 크기반환</h2>

</body>
</html>












