<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">ajax 실습</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">

</head>
<body>
	<h1>AJAX 실습</h1>
	<button type="button" id="listBtn">전체 회원조회</button><br><br>
	<input type="text" id="memberId" name="memberId" placeholder="아이디 입력"/>
	<button type="button" id="searchBtn">회원조회</button><br><br>
	
	<table>
		<thead>
			<tr>
				<th>회원아이디</th>
				<th>회원비밀번호</th>
				<th>회원등급</th>
				<th>회원이름</th>
				<th>회원연락처</th>
			</tr>
		</thead>
		<tbody id="tBody">
		</tbody>
	</table>	
	<script>
		// 실습. listBtn 클릭 시 콘솔에 회원 전체목록 출력
		const request = {
				get(url){
					return fetch(url)
						.then(response => response.json());
				},
				post(url, option){
					return fetch(url, option)
						.then(response => response.json());
				}
		}
		
		const listBtn = document.getElementById('listBtn');
        const tBody = document.getElementById('tBody'); 
        
        const $memberId = document.getElementById('memberId');
        const $searchBtn = document.getElementById('searchBtn');
        
        
       
       
        
        
        listBtn.addEventListener('click', e => {
            request.get('/member/list')
            	   .then(list => {
            	   		list.forEach(element => {            				
            				const newTr = document.createElement('tr');
            				
            				const newTdId = document.createElement('td');
            				newTdId.append(element.memberId);
            				newTr.append(newTdId);
            				
            				const newTdPw = document.createElement('td');
                            newTdPw.append(element.memberPw);
                            newTr.append(newTdPw);
                            
                            const newTdLevel = document.createElement('td');
                            newTdLevel.append(element.memberLevel);
                            newTr.append(newTdLevel);
                            
                            const newTdName = document.createElement('td');
                            newTdName.append(element.memberName);
                            newTr.append(newTdName);
                            
                            const newTdMobile = document.createElement('td');
                            newTdMobile.append(element.memberMobile);
                            newTr.append(newTdMobile);
                            
                            tBody.append(newTr);
            				
                        });
            		});
        });
        
        
		
		
	</script>

</body>
</html>












